.suscribe{
    margin: 1rem;
    padding: 1/2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    & ul{
    list-style-type: none;
    }
    & li:hover{
    background-color: black;
    color: white;
}
}
.suscribe_form{
    
    padding: 1rem;
    border-radius: 10px;

    &:hover{
    background-color: black;
    color: white;
}}